@model RegisterConfirmationViewModel
@inject IViewLocalizer Localizer

<div class="login-page">
    <div class="page-header">
        <h3>@Localizer["CONFIRMATION"]</h3>
    </div>
    <p>
        @Localizer["CHECK_EMAIL"]
    </p>
</div>