@inject IViewLocalizer Localizer
<div class="login-page">
    <div class="page-header">
        <h3>@Localizer["CONFIRMED_PASSWORD"]</h3>
    </div>

    <p>
        @Localizer["RESETED"].
    </p>
</div>