.avatar {
  border: 1px solid var(--secondary-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--brand-color);
}
